<p id="notice"><%= notice %></p>


<div class="hero_homepage">
  <h1>Listings</h1>
</div>
    <div class="col-xs-6 col-sm-3">
      <div id="photo_outline">
    <% @listings.each do |listing| %>
    <%= image_tag listing.photo.url(:thumb) %>
        <div id="title">
      <%= listing.name %>
      <%= listing.Price %>
        </div>
      </div>
    </div>

    <% end %>
<br>

<%= link_to 'New Listing', new_listing_path %>
